.left-side {
  width: 20%;
  margin-bottom: 1.75rem;
  /* mb-7 */
  position: relative;
  border-right: 1px solid #5b389e;
  height: 100%;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* gap-2 */
  width: 100%;
  padding: 1rem;
}


.header {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1em;
}

.menu-item {
  /* display: none; */
  align-items: center;
  justify-content: start;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(229, 231, 235, 0.3));
  border-radius: 0.5rem;
  padding: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: white;
  margin-left: 0.75rem;
}

.calendar-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  cursor: pointer;
  margin: 0;
}

.calendar-header span {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  color: white;
  
}

/* .rotate-180 {
  transform: rotate(180deg);
}

.rotate-0 {
  transform: rotate(0deg);
} */

.calendar-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  inset: -1em;
}

.collapse-btn {
  position: absolute;
  right: -1em;
  /* Slightly outside sidebar */
  top: 50%;
  /* transform: translateY(-50%); */
  background-color: #5b389e;
  /* dark background */
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}

.collapse-btn i.rotate-180 {
  transform: rotate(180deg);
}
.options{
  background-color: #a58ad8df;
}
li{
  text-decoration: none;
}
@media (min-width: 1024px) {
  .left-side {
    width: 25%;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .left-side-container {
    padding: 0;
  }
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
  .left-side.collapsed {
    width: 50px;
  }
}

@media (max-width: 960px){
  .smallCalendar{
    display: none; 
  }
}

