.big{
  /* position: fixed; */

  /* overflow: scroll; */
  background-color: rgba(240, 248, 255, 0.579);
  margin-bottom: 2em;
  margin-top: 1em;
  border-radius: 9px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}