.mon-calendar-box {
  position: relative;
  width: 100%;
  min-height: 70%;
  /* max-width: 364px; */
  /* mb-6 */
  box-shadow: 0 4px 8px #00000026;
  /* background: linear-gradient(to top, rgba(255, 255, 255, 0.681), transparent); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  
}

.mon-calendar-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 3em 1.5em;
  /* py-2 px-5 */

}

/* head */
.mon-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-bottom: 0.5rem;
}

.mon-calendar-header-left {
  display: flex;
  gap: 1.75rem;
  flex: 1;
  align-items: start;
}

.mon-calendar-header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.25rem;
  margin-top: 0.25rem;
}

.mon-calendar-month {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--text-white);
}

.mon-calendar-arrow {
  width: 4px;
  height: 10px;
  color: var(--text-white);
}

/* inner inf */
.mon-calendar-inner ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mon-calendar-inner li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.5em;
}

.mon-weeks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mon-weeks span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-white);
}

.mon-days{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mon-days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.mon-days li.inactive {
  color: #0c7fb1;
}

.mon-days li.active {
  color: #fff;
}

.mon-days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.mon-days li.active::before {
  background: #9B59B6;
}

.mon-days li:not(.active):hover::before {
  background: #f2f2f2;
}

.mon-days {
  margin-bottom: 18px;
}

.mon-days span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-light);
  text-align: center;
}