.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Calendar Grid */
.calendar-grid {
  padding: 1em 0;
  overflow-x: auto;
  padding: 1rem;
  margin-bottom: 4rem;
}

.time-row {
  display: flex;
  align-items: start;
  margin-bottom: 0.1em;
}

.time-label {
  min-width: 48px;
  text-align: left;
  font-size: 13px;
  color: var(--text-muted);
}

/* Time Blocks */
.time-blocks {
  display: flex;
  flex: 1;
  /* max-width: 1012px; */
  margin-left: 1rem;
}

.calendar-cell {
  flex: 1;
  min-height: 72px;
  border: 1px solid var(--border-color);
  background-color: #f9fafb;
  transition: background-color 0.2s;
  cursor: pointer;
}

.calendar-cell:hover {
  background-color: #f3f4f6;
}

.calendar-cell.selected {
  background-color: #6b6fc4;
}

@media (min-width: 1024px) {
  .calendar-layout {
    flex-direction: row;
    align-items: flex-start;
  }
}

.calendar-grid ul {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.time-row .week {
  margin-left: 1rem;
}

.calendar-grid .week li {
  color: #333;
  font-size: 1.5em;
  width: calc(100%7);
}

/* .calendar-grid .weeks span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-white);
} */

.week-day-header{
  margin: 0;
  padding: 0 1em;
}

/*.event-block.reminder { background-color: #2196F3; }
.event-block.task { background-color: #4CAF50; }
.event-block.arrangement { background-color: #FF9800; }*/
