.color-preset-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}

.color-bubble {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.color-bubble:hover {
  transform: scale(1.15);
}

.color-bubble.active {
  border: 2px solid #000;
  transform: scale(1.2);
}