.event-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  max-height: 80vh;
  padding: 20px;

  background-color: #dfd6f8b1;
  backdrop-filter: blur(12px);

  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
  scrollbar-width: none;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
}

.input-title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-popup select {
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  background-color: rgb(242, 240, 255);
  border-radius: 6px;
  border:#ccc;
  outline: none;
}

.popup-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-row input,
.popup-row textarea {
  outline: none;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.checkbox-row {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.category-button {
  width: fit-content;
  padding: 10px;
  background: #ffffff8d;
  color: rgb(0, 6, 27);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 0.3em;
}

.category-button.active{
  background: #9684f1e8;
  color: rgb(255, 255, 255);
}

.create-btn {
  width: 100%;
  padding: 10px;
  background: #9c2efc;
  
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

/* for calendar */
.color-preset-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}

.color-bubble {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.color-bubble:hover {
  transform: scale(1.15);
}

.color-bubble.active {
  border: 2px solid #000;
  transform: scale(1.2);
}