.event-popup {
  padding: 20px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
}

.input-title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.popup-row {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.popup-row input,
.popup-row textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.checkbox-row {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.create-btn {
  width: 100%;
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

/* for calendar */
.color-preset-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}

.color-bubble {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.color-bubble:hover {
  transform: scale(1.15);
}

.color-bubble.active {
  border: 2px solid #000;
  transform: scale(1.2);
}