:root {
  --primary-background: #9e97f6;
  --primary-foreground: #ffffff;
  --primary-light: #e4ceff;
  --secondary-background: #ffffff;
  --secondary-dark: #f4f4f5;
  --text-muted: #71717a;
  --text-primary: #000000;
  --border-color: #e5e7eb;
}

/* Main layout */
.calendar-main {
  min-height: 100vh;
  background: url('src/assets/images/background.png') center/cover no-repeat;
  max-width: 100%;
  /* padding: 0 1rem; */
  margin: 0 auto;

}
.calendar-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(16deg, rgba(1, 199, 179, 0.423) 0%, rgba(199, 87, 191, 0) 50%, rgba(83, 106, 237, 0.423) 100%); */
  background: linear-gradient(16deg, rgba(3, 166, 178, 0.311) 0%, rgba(199, 87, 191, 0) 50%, rgba(83, 106, 237, 0.423) 100%);
}

/* Content area */
.calendar-content {
  flex: 1;
  height: 100vh;
  /* margin-left: 1.5rem; */
  position: relative;
  background: linear-gradient(16deg, rgba(3, 166, 178, 0.311) 0%, rgba(199, 87, 191, 0) 50%, rgba(83, 106, 237, 0.423) 100%);
}

/* Toolbar */
.calendar-toolbar {
  background: #ffffffa2;
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  z-index: 8;
  inset: 1rem;
}

.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.toolbar-left{
  gap: 1.5em;
}

.toolbar-right{
  margin-left: 3em;
}

.toolbar-month{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.8rem;
}

span{
  color: #626267;
}

/* View switcher */
.view-btn {
  font-size: 16px;
  padding: 5px 18px;
  width: 3.2em;
  min-width: max-content;
  height: 1.5em;
  border: none;
  background: linear-gradient(0deg,#e3e7f4c5, #f1f3f8a8);
  color: #31314b;
  cursor: pointer;
  transition: color 0.2s;
}

.view-btn:active {
  color: var(--primary-foreground);
  background: var(--primary-background);
  font-weight: 500;
}

@media (min-width: 1024px) {
.calendar-toolbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 924px) {
  .calendar-toolbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    /* overflow-wrap: break-word; */
  }
}

@media (max-width: 440px) {
  .calendar-content {
    overflow: scroll;
  }
  .calendar-toolbar {
    overflow: scroll;
  }
  .big-calendar {
    overflow: scroll;
  }
  .view-btn {
    font-size: 16px;
    padding: 5px 14px;
    width: 2em;
    min-width: max-content;
  }
}