:root {
  --primary-background: #9e97f6;
  --primary-foreground: #ffffff;
  --primary-light: #e4ceff;
  --secondary-background: #ffffff;
  --secondary-dark: #f4f4f5;
  --text-muted: #71717a;
  --text-primary: #000000;
  --border-color: #e5e7eb;
}

/* Main layout */
.calendar-main {
  min-height: 100vh;
  background: url('src/assets/images/background.png') center/cover no-repeat;
  max-width: 100%;
  /* padding: 0 1rem; */
  margin: 0 auto;

}
.calendar-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Content area */
.calendar-content {
  flex: 1;
  /* margin-left: 1.5rem; */
  position: relative;
}

/* Toolbar */
.calendar-toolbar {
  background: #ffffffa2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 8;
  inset: 1rem;
}

.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
span{
  color: #71717a;
}
/* .nav-btn {
  width: 28px;
  height: 28px;
  background: var(--secondary-dark);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-btn img {
  width: 20px;
  height: 20px;
} */

/* View switcher */
.view-btn {
  font-size: 14px;
  padding: 4px 16px;
  width: 3em;
  height: 1.5em;
  border: none;
  background: transparent;
  color: var(--text-muted);
  cursor: pointer;
  transition: color 0.2s;
}

.view-btn.active {
  color: var(--primary-foreground);
  background-color: var(--primary-background);
  font-weight: 500;
}

@media (min-width: 1024px) {
.calendar-toolbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}